.table { /* back ground color for table1 */
  border: 1px;
  margin: 10px 10px 10px 10px;
  padding:  10px 10px 10px 10px;
	background-color: cyan;
  display: none
}

.link { /* back ground color for table1 */
	color: blue;
  text-decoration-line: underline;
}

.changed { /* back ground color for table1 */
	color: yellow;
}
